<h2> Contact us: </h2>
<%= form_for @message, url: contact_path do |message_form| %>
  <fieldset>
    <div class="form-group">
      <%= message_form.text_field :name, placeholder: "Name", :class => "form-control" %>
    </div>
    
    <div class="form-group">
      <%= message_form.email_field :email, placeholder: "Email", :class => "form-control"%>
    </div>
    
    <div class="form-group">
      <%= message_form.text_area :content, placeholder: "Message", :class => "form-control input-lg"%>
    </div>
  </fieldset>
  
  <fieldset>
    <div class="form-group">
      <%= message_form.submit "Send", :class =>"form-control", :class => "btn btn-default btn-lg" %>
    </div>
  </fieldset>
<% end %>