

<%= form_for @task do |f| %>

  <div class="field">
    <%= f.label  :name%><br>
    <%= f.select  :name, %w{Ferrier Shots Coggins Wormer Dentist Other}, :prompt => 'Appointment type', required: true, placeholder: 'Catagory', class: 'form-control' %> 
  </div>

  <div class="field">
     <%= f.label  :description%><br>
    <%= f.text_area  :description%>
    </div>

  <div class="field">
    <%= f.label "Due Date" %><br>
    <%=f.date_field :duedate %>
  </div>

  <%= f.fields_for :horses do |h| %>      

    <%= h.collection_check_boxes :ids, current_user.horses.all, :id, :name %>
  
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>