<ul>
<li><%= image_tag @horse.pic.url(:thumb) %></li>
<li><%= @horse.name %></li>
<li><%= @horse.breed %></li>
<li><%= @horse.height%></li>
<li><%= @horse.weight %></li>
<li><%= @horse.DOB %></li>
<li><%= @horse.RHR %></li>
<li><%= @horse.gender %></li>
</ul>


<% @horse.tasks.each do|task| %>
<%= task.name%>
<%= task.description %>
<%= task.duedate %>
<%= task.completed %>
<% end %>



