<div class="row">
  <div class="col-xs-12 col-md-8">
  <!-- Task table -->
      <div class="tasks">
        <h2>Upcoming Appointments</h2>  
        <table class = 'table'>
          <thead>
            <tr>
              <th>Horse</th>
              <th>Appointment</th>
              <th>Description</th>
              <th>DueDate</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @tasks.each_with_index do |task, index| %>
              
                <tr>
                  <td><%= @horses[index].name %></td>
                  <td><%= task.name %></td>
                  <td><%= task.description %></td>
                  <td><%= task.duedate %></td> 
                  <td>

                  <div class="btn-group btn-group-xs">
                  <%= link_to 'Edit', edit_task_path(task), class: "btn btn-default" %>  
                  <%= link_to 'Delete', task, data: { confirm: "Are you sure you wish to delete this horse?" }, 
                                                         method: :delete, class: "btn btn-default" %>
                  </div>
                  </td>  
                </tr>
              <% end %>
          </tbody>
        </table>
      </div>
      <%= link_to "new horse", new_horse_path, class: "btn btn-default" %>
<%= link_to "new task", new_task_path, class: "btn btn-default" %>

  </div>

    <!-- Horse Table -->
  <div class="col-xs-6 col-md-4">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% if @user.horses.any? %>
          <% @user.horses.each do |horse| %> 
             <tr> 
             <td><%= image_tag horse.pic.url(:thumb) %></td>
              <td> <%= link_to horse.name, horse_path(horse) %> </td>
              <td>  
                <div class="btn-group btn-group-xs">
                  <% if user_signed_in? && current_user.id == horse.user_id %>
                  <%= link_to 'Edit', edit_horse_path(horse), class: "btn btn-default" %>                
                  <%= link_to 'Delete', horse, data: { confirm: "Are you sure you wish to delete this horse?" }, 
                                                 method: :delete, class: "btn btn-default" %>
                  <% end %>
                </div>  
              </td>
            </tr>
          <% end %> 
        <% end %>
      </tbody>
    </table>
   </div>
</div>  