<%= link_to "new horse", new_horse_path, class: "btn" %>
<%= link_to "new task", new_task_path, class: "btn" %>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      
      <% if @user.horses.any? %>
        <% @user.horses.each do |horse| %> 
         
           <tr> 

           <td><%= image_tag horse.pic.url(:thumb) %></td>


            <td> <%= link_to horse.name, horse_path(horse) %> </td>
            <td>  
              <div class="btn-group btn-group-xs">
                <% if user_signed_in? && current_user.id == horse.user_id %>
                <%= link_to 'Edit', edit_horse_path(horse), class: "btn" %>                
                <%= link_to 'Delete', horse, data: { confirm: "Are you sure you wish to delete this horse?" }, 
                                               method: :delete, class: "btn" %>
                <% end %>
              </div>  
            </td>
          </tr>
        <% end %> 
      <% end %>
    </tbody>
  </table>