<style type="text/CSS">

body {
  background-image: url(/assets/06.jpg);
  background-repeat: repeat-y;
  background-size: 100%;
  z-index: 0px;
  background-color: #EAE7E5;
  color: black;
  background-position: center;
  }

  .col-xs-11.col-md-7 {
    background: rgba(234, 231, 229, 0.7);
    margin: 5px;
    padding-bottom: 10px;
    min-height: 300px;
    
  }

  .col-xs-11.col-md-4 {
    background: rgba(234, 231, 229, 0.7);
    margin: 5px;
    color: #6E4D51;
    padding-bottom: 20px;
  }


</style>

<div class="row">
  <div class="col-xs-11 col-md-7">
  <!-- Task table -->
      <div class="tasks">
        <h2>Upcoming Appointments</h2>  
        <table class = 'table'>
          <thead>
            <tr>
              <th>Horse</th>
              <th>Appointment</th>
              <th>Description</th>
              <th>DueDate</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @tasks.each_with_index do |task, index| %>
              
                <tr>
                  <td><%= @horses[index].name %></td>
                  <td><%= task.name %></td>
                  <td><%= task.description %></td>
                  <td><%= task.duedate %></td> 
                  <td>

                  <div class="btn-group btn-group-xs">
                  <%= link_to 'Edit', edit_task_path(task), remote: true, class: "btn btn-default" %>  
                  <%= link_to 'Delete', task, data: { confirm: "Are you sure you wish to delete this task?" },
                                                         method: :delete, class: "btn btn-default" %>
                  </div>
                  </td>  
                </tr>
              <% end %>
          </tbody>
        </table>

      </div>
      <center>
      <%= link_to "New Appointment", new_task_path, remote: true, class: "btn btn-default" %>
      </center>
      </div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">HtH</h4>
      </div>
      <div class="modal-body">
      </div>
<!--       <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>      

    <!-- Horse Table -->
  <div class="col-xs-11 col-md-4">
    <h2>Your horses</h2> 
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% if @user.horses.any? %>
          <% @user.horses.each do |horse| %> 
             <tr> 
             <td><%= image_tag horse.pic.url(:thumb) %></td>
              <td> <%= link_to horse.name, horse_path(horse) %> </td>
              <td>  
                <div class="btn-group btn-group-xs">
                  <% if user_signed_in? && current_user.id == horse.user_id %>
                  <%= link_to 'Edit', edit_horse_path(horse), remote: true, class: "btn btn-default" %>                
                  <%= link_to 'Delete', horse, data: { confirm: "Are you sure you wish to delete this horse?" }, 
                                                 method: :delete, class: "btn btn-default" %>
                  <% end %>
                </div>  
              </td>
            </tr>
          <% end %> 
        <% end %>
      </tbody>
    </table>
    <center>
    <%= link_to "New Horse", new_horse_path, remote: true, class: "btn btn-default" %>
    </center>
   </div>
</div>  