<%= form_for @horse_weight do |f| %>
  <%= render 'devise/shared/error_messages', object: f.object %>  
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.number_field :weight %>
  </div>

  <div class="field">
    <%= f.hidden_field :horse_id, value: @horse.id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

<div class="row">
  <table class="table">
    <% @horse.horse_weights.each do|weight| %>
    <tr>
    <td> <%= weight.weight %> </td>
    <td> <%= weight.created_at %></td>
    <td> <%= link_to 'Delete', delete_path(@horse, weight), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %> </td>
    </tr>
  <% end %>
</div>